body{
    margin: 0 auto;
    width: 500px;
    padding: 0;
    background: #000 url(images/back_all.jpg) no-repeat center top;
    background-size: cover;
    font-family: Helvetica, sans-serif;
	font-size: 62.5%;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

#header {
    margin: 0 auto;
	width: 500px;
}

#logo{
    width: 500px;
    text-align: right;
    color: #fff;
}

#logo h1{
    font-size: 20px;
    margin: 0 0 10px 0;
}

#logo h2 {
    font-size: 1px;
}

#menu {
    width: 500px;
    text-align: center;
    margin: 20px 0 10px 0;
    padding: 10px;
	font-weight: bold;
    font-size: 14px;
    background: linear-gradient(#da4c24 15%, #971500, #da4c24 85%);
    border: solid #fff;
    border-width: 1px;
    border-radius: 10px;
}

#menu ul li {
    display: inline;
	margin: 0 0 0 40px;
    color: #fff;
	text-decoration: none;
	background: none;
}

#menu ul li a {
    color: #fff;
	text-decoration: none;
	background: none;
}

#menu a:hover {
    color: #ff0;
}

#main{
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    background: #fff;
    border-radius: 10px;
}

#main_title img {
    border: double #da4c24;
    border-width: 3px;
    border-radius: 10px;
    width: 495px;
}

#box {
    margin: 10px 0 0 0;
    padding: 10px;
    line-height: 30px;
    background: #da4c24;
    border-radius: 10px;
    color: #fff;
}

#content, #sidebar {
	margin: 3px 0 20px 0;
	padding: 10px 0 0 0;
}

#content {
    width: 330px;
	float: left;
}

#content a:hover {
    color: #ff0;
}

#content h2 {
	font-weight: bold;
	margin: 0 0 2px 0;
    padding: 10px;
    background-image: repeating-linear-gradient(-45deg, #d74d28 20%, #de5b29 25%, #d74d28 30%);
    border-radius: 10px;
    color: #fff;
}

#content ul {
	margin: 0;
    padding: 10px;
    color: #000;
    background: linear-gradient(#f9a284, #fff 5%);
    border-radius: 10px;
    font-size: 10px;
}

#content p a {
    color: #da4c24;
}

#sidebar {
    width: 160px;
	float: right;
}

#sidebar a:hover {
    color: #ff0;
}

#sidebar h2 {
	font-weight: bold;
	margin: 0 0 2px 0;
	padding: 10px;
    background-image: repeating-linear-gradient(-45deg, #d74d28 10%, #de5b29 20%, #d74d28 30%);
    border-radius: 10px;
    color: #fff;
}

#sidebar ul {
    padding: 10px;
    line-height: 20px;
    background: linear-gradient(#f9a284, white 20%);
    border-radius: 10px;
}

#sidebar li {
    color: #000;
    font-size: 13px;
}

#sidebar li a {
    color: #da4c24;
}

#footer {
    margin: 10px 0 0 10px;
    text-align: left;
	clear: both;
}