body{
	font-family: Helvetica, sans-serif;
}

#logo{
    text-align: left;
}

#logo h1{
    font-size: 20px;
    font-weight: bold;
}

#logo h2 {
    font-size: 15px;
    font-weight: bold;
}

#main{
    clear: both;
    margin: 0 auto;
    background: #fff;
    border: solid #a1e3f9;
    border-width: 20px;
}

#menu {
    text-align: center;
	font-weight: bolder;
    font-size: 16px;
    background: linear-gradient(#2DD2FF, #135466);
}

#menu ul li {
    display: inline;
	margin: 0 0 0 60px;
	text-decoration: none;
}

#menu ul li a {
    color: #fff;
	text-decoration: none;
}

#menu a:hover {
    color: #135466;
}

#sidebar h1 {
    color: #3AD2F9;
    font-size: 30px;
    font-weight: bold;
}

#sidebar img {
    float: left;;
}

#sidebar p {
    color: #4D4D4D;
    font-size: 15px;
}

#sidebar a {
    color: #3AD2F9;
}

#sidebar a:hover {
    color: #135466;
}

#Lbox {
    background: #CCF4FE;
    border: 2px solid #B6BDC3; 
}

#Lbox h1 {
    font-size: 30px;
    font-weight: bold;
    color: #3AD2F9;
}

#Rbox {
    background: #CCF4FE;
    border: 2px solid #B6BDC3;
}

#Rbox h1{
    font-size: 30px;
    font-weight: bold;
    color: #3AD2F9;
}

#Rbox li {
    color: red;
}

#Rbox li a {
    font-size: 15px;
    font-weight: bold;
    color: #3AD2F9;
}

#Rbox li a:hover {
    color: #135466;
}

#port img {
	border: 2px solid #4D4D4D;
    float: left;
}

#port p {
    font-size: 15px;
}

#port p a {
    color: #3AD2F9;
}

#port p a:hover {
    color: #135466;
}

#link p{
    color: black;
    font-size: 15px;
}

#link p a {
    color: black;
}

#link p a:hover {
    color: #3AD2F9;
}

#content h1 {
    color: #3AD2F9;
    font-size: 30px;
    font-weight: bold;
}

#content p {
    color: #4D4D4D;
    font-size: 15px;
}

#content li {
    color: red;
}

#content li a {
    color: #3AD2F9;
    font-weight: bold ;
    font-size: 15px;
}

#content li a:hover {
    color: #135466;
}

#topcontent {
    font-weight: bold;
}

#footer {
    background: linear-gradient(#2DD2FF, #135466);
    border-top:5px solid #156178;
}

#footer p {
    text-align: center;
	clear: both;
    font-size: 15px;
    color: white;
}